<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Travelr – {{ album.title }}</title>

    <link href="../../build/gallery.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Travelr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../../">Home</a>
                </li>
            </ul>
        </div>
    </nav>

    <main role="main">
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>{{ album.title }}</h1>

                        {% if album.description %}
                            <p>{{ album.description }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="grid col-12">
                        {% for image in album.images %}
                        <div class="grid-item">
                            <a href="{{ image.filename }}">
                                <img class="card-img-top" src="{{ image.filename }}" />
                            </a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="../../build/album.js"></script>
</body>
</html>
